<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TradeMe Automation">

<test name="verifyHomeTest">
    <classes>
        <class name="com.lighthouse.MavenTest.HomePageTest" ></class>  
    </classes>
</test>

<test name="testSuccesfulLogin">
    <classes>
        <class name="com.lighthouse.MavenTest.LoginTest" ></class>  
    </classes>
</test>
<test name="Motors Test">
    <classes>
        <class name="com.lighthouse.MavenTest.MotorsTest" ></class>  
    </classes>
</test>
</suite>
